<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd">
				<!-- 메모리에 로드 시켜준다 . 객체들을 담고 있다고 해서 컨테이너 라고 한다. -->
				
				
			<bean id="tWalk" class="TestHardPjt.TransportationWalk"/>
</beans>